[submodule "week3-polygon/lib/forge-std"]
	path = week3-polygon/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week3-polygon/lib/openzeppelin-contracts"]
	path = week3-polygon/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
